BasedOnStyle: LLVM
Language: Cpp
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120
ContinuationIndentWidth: 4
BreakBeforeBraces: Attach
PointerAlignment: Left
ReferenceAlignment: Left
DerivePointerAlignment: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
SortIncludes: Never
IncludeBlocks: Preserve
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
Cpp11BracedListStyle: true
